<!DOCTYPE html>
<html>
  <head>
    <title>Getting Started</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content = "IE=edge, chrome=1" />
    <meta name = "viewport" content="width=device-width", initial-scale=1.0 />

    <script type="module" src="https://md-block.verou.me/md-block.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.0/dist/semantic.min.js"></script>
    <style>
      #sidebar_button {
        position: fixed;
        margin-left: 0px;
        top: 0px;
      }

      p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
      }

      container {
        width: 90%;
        border: 15px solid green;
        padding: 50px;
        margin: 20px;
      }
    </style>
  </head>

  <body>
    <div class="ui sidebar inverted vertical menu">
      <a class="item", href="/">
        Home
      </a>
      <a class="item", href="/productivityMeasurements">
        Productivity Measurements
      </a>
      <a class="item", href="/about">
        About
      </a>
    </div>

    <div class="pusher">
      <!-- Site Content !-->
      <div>
        <button class="ui blue button" id="sidebar_button">
          Menu
        </button>
      </div>

      <div class="container" style="padding-top: 40px">
        <div class="ui grid">
          <div class="four wide column">
            <p>
              <h2 class="ui header">Name: Elliot Lyons</h2>
              <h5 class="ui header">Role: Team lead</h5>
              <h5 class="ui header">Course: Computer Science & Business</h5>
              <h5 class="ui header">Age: 20</h5>
              <h5 class="ui header">From: Kildare, Ireland</h5>
            </p>
          </div>
          <div class="four wide column">
            <p>
              <h2 class="ui header">Name: Jason Wood</h2>
              <h5 class="ui header">Role: Vice Lead/Front End</h5>
              <h5 class="ui header">Course: Integrated Computer Science</h5>
              <h5 class="ui header">Age: 20</h5>
              <h5 class="ui header">From: Dublin, Ireland</h5>
            </p>
          </div>
          <div class="four wide column">
            <p>
              <h2 class="ui header">Name: Joe Hand</h2>
              <h5 class="ui header">Role: Front End</h5>
              <h5 class="ui header">Course: Integrated Computer Science</h5>
              <h5 class="ui header">Age: 20</h5>
              <h5 class="ui header">From: Meath, Ireland</h5>
            </p>
          </div>
          <div class="four wide column">
            <p>
              <h2 class="ui header">Name: Joe Hand</h2>
              <h5 class="ui header">Role: Back End</h5>
              <h5 class="ui header">Course: Integrated Computer Science</h5>
              <h5 class="ui header">Age: 20</h5>
              <h5 class="ui header">From: Meath, Ireland</h5>
            </p>
          </div>
          <div class="four wide column">
            <p>
              <h2 class="ui header">Name: Joe Hand</h2>
              <h5 class="ui header">Role: Back End</h5>
              <h5 class="ui header">Course: Integrated Computer Science</h5>
              <h5 class="ui header">Age: 20</h5>
              <h5 class="ui header">From: Meath, Ireland</h5>
            </p>
          </div>
          <div class="four wide column">
            <p>
              <h2 class="ui header">Name: Joe Hand</h2>
              <h5 class="ui header">Role: Back End</h5>
              <h5 class="ui header">Course: Integrated Computer Science</h5>
              <h5 class="ui header">Age: 20</h5>
              <h5 class="ui header">From: Meath, Ireland</h5>
            </p>
          </div>
          <div class="four wide column">
            <p>
              <h2 class="ui header">Name: Joe Hand</h2>
              <h5 class="ui header">Role: Integration Team</h5>
              <h5 class="ui header">Course: Integrated Computer Science</h5>
              <h5 class="ui header">Age: 20</h5>
              <h5 class="ui header">From: Meath, Ireland</h5>
            </p>
        </div>
        <div class="four wide column">
            <p>
              <h2 class="ui header">Name: Joe Hand</h2>
              <h5 class="ui header">Role: Integration Team</h5>
              <h5 class="ui header">Course: Integrated Computer Science</h5>
              <h5 class="ui header">Age: 20</h5>
              <h5 class="ui header">From: Meath, Ireland</h5>
            </p>
          </div>
        </div>
      </div>
    </div>

  <script>
    $('#sidebar_button').click(function () {
      $('.ui.sidebar').sidebar('toggle');
    })
  </script>
  </body>
</html>