<!DOCTYPE HTML>
<html>
  <head>
    <title>Getting Started</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content = "IE=edge, chrome=1" />
    <meta name = "viewport" content="width=device-width", initial-scale=1.0 />

    <script type="module" src="https://md-block.verou.me/md-block.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.0/dist/semantic.min.js"></script>
    <style>
      #sidebar_button {
        position: fixed;
        margin-left: 0px;
        top: 0px;
      }
    </style>

    <!--<script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-gl.min.js"></script>
    <link rel="stylesheet" type="text/css" href = "{{url_for('static',filename='./styles/style.css')}}" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/echarts-gl/2.0.8/echarts-gl.min.js"></script>

    <style>
      .container {
        display: grid;
        padding-left: 150px;
        grid-template-columns: 500px 600px 500px;
        grid-auto-flow: row dense;
        align-items: center;
        justify-items: center;
      }

      .container > div {
        margin: 20px;
      }

      .header{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 80px;
        display: block;
        background-color: rgb(0, 0, 0);
      }
      .inner_header{
        width: 1000px;
        height: 100%;
        display: block;
        margin: 0 auto;
      }

      .logo_container{
        height: 100%;
        display: table;
        float: left;
      }

      .logo_container h1{
        color: white;
        height: 100%;
        display: table-cell;
        vertical-align: middle;
        font-family: 'sans-serif';
        font-size: 32px;
        font-weight: 200;
      }

    </style>
    -->


  </head>

  <body>
    <div class="ui sidebar inverted vertical menu">
      <a class="item", href="/">
        Home
      </a>
      <a class="item", href="/standard_metrics">
        Standard Metrics
      </a>
      <a class="item", href="/productivity_measurements">
        Productivity Measurements
      </a>
      <a class="item", href="/about">
        About
      </a>
      <a class="item", href="https://youtu.be/NdfTibIR6XY">
         Video Demo
      </a>
      <a class="item" href="https://github.com/jawood25/Software-Enginerring-Main-Project-Group-1">
        Github Repository
      </a>

    </div>
    <div class="pusher">
      <!-- Site Content !-->
      <div>
        <button class="ui blue button" id="sidebar_button">
          Menu
        </button>
      </div>

      <div class="graph-page-title-container" style="padding-top: 40px; padding-left: 38%; width: 75%" >
        <h1 class="ui header">Productivity Measurements</h1>
      </div>

      <div class="graph-page-paragraph-container1" style="padding-top: 40px; padding-left: 27%; width: 75%" >
        <h2 class="ui header">‘Not everything that can be counted … counts’ - Albert Einstein</h2>
        <h4 class="ui header">Although we offer insights to individual performance in Standard Metrics, we believe they
          belong in the ‘Flawed Five’.
          (https://leaddev.com/reporting-metrics/flawed-five-engineering-productivity-metrics)</h4>
      </div>

      <div class="graph-page-paragraph-container2" style="padding-top: 45px; padding-left: 27%; width: 75%" >
        <h2 class="ui header">Our rationale:</h2>
        <h4 class="ui header">We believe the true measure of team performance is the time it takes to reach a
          predetermined goal. (Abi Noda, 2019). Using this hypothesis we measure the time between a pull request being
          opened and closed, the number of pull requests being closed, the number of issues being closed and the time in
          which those issues are being closed. We are also prototyping how many unit tests fail in a build and how long
          it takes to fix those failures (Alperowitz et al., 2016).

          </h4>
      </div>
      <div class="graph-page-paragraph-container3" style="padding-top: 10px; padding-left: 27%; width: 75%" >
        <h4 class="ui header">As above, productivity is more importantly a measure of time rather than output. The ‘
          Flawed Five’ can easily be manipulated whereas the metrics below cannot.</h4>
      </div>
      <div class="graph-page-paragraph-container4" style="padding-top: 10px; padding-left: 27%; width: 75%" >
        <h4 class="ui header">We also are in the early development stages of measuring SCRUM productivity,
          we measure our own below. This will look to build upon the research carried out by Cardozo et al. (2010) and
          determine whether the agile development and SCRUM meeting techniques are productive in your organisation.</h4>
      </div>

      <div class="graph-page-graph-title-container" style="padding-top: 65px; padding-left: 38%; width: 75%" >
        <h1 class="ui header">Our Productivity Measurements</h1>
      </div>

      <div class="container" style="padding-top: 40px; padding-left: 24%">
        <div id="contributor_graph" style="width: 800px; height: 400px; padding-bottom: 75px"></div>
        <div id="issue_graph" style="width: 800px; height: 420px; padding-bottom: 55px"></div>
        <div id="pull_request_graph" style="width: 800px; height: 400px; padding-bottom: 55px"></div>
      </div>
    </div>

    <!--<div class="header">
      <div class="inner_header">
        <div class="logo_container">
          <h1>Contributor Performance Measurer</h1>
        </div>
      </div>
    </div>
    -->
  <script>
    $('#sidebar_button').click(function () {
      $('.ui.sidebar').sidebar('toggle');
    })
  </script>
  <script>
    var contributor_chart = echarts.init(document.getElementById('contributor_graph'), 'white', {
      renderer: 'canvas'
    })

    var issue_chart = echarts.init(document.getElementById('issue_graph'), 'white', {
      renderer: 'canvas'
    })

    var pull_request_chart = echarts.init(document.getElementById('pull_request_graph'), 'white', {
      renderer: 'canvas'
    })

    $(
      function () {
        fetchGraphData(contributor_chart, "http://127.0.0.1:5000/contributors");
        fetchGraphData(issue_chart, "http://127.0.0.1:5000/issues");
        fetchGraphData(pull_request_chart, "http://127.0.0.1:5000/pullRequests");
      }
    );

    function fetchGraphData(chart, link) {
      $.ajax({
        type: "GET",
        url: link,
        dataType: "json",
        success: function (result) {
          chart.setOption(result);
        }
      });
    }

  </script>
  </body>
</html>
