<!DOCTYPE html>
<html>
  <head>
    <title>Getting Started</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content = "IE=edge, chrome=1" />
    <meta name = "viewport" content="width=device-width", initial-scale=1.0 />

    <script type="module" src="https://md-block.verou.me/md-block.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.0/dist/semantic.min.js"></script>
    <style>
      #sidebar_button {
        position: fixed;
        margin-left: 0px;
        top: 0px;
      }
    </style>
  </head>

  <body>
    <div class="ui sidebar inverted vertical menu">
      <a class="item", href="/">
        Home
      </a>
      <a class="item", href="/standard_metrics">
        Standard Metrics
      </a>
      <a class="item", href="/productivity_measurements">
        Productivity Measurements
      </a>
      <a class="item", href="/about">
        About
      </a>
      <a class="item", href="https://youtu.be/NdfTibIR6XY">
         Video Demo
      </a>
      <a class="item" href="https://github.com/jawood25/Software-Enginerring-Main-Project-Group-1">
        Github Repository
      </a>

    </div>
    <div class="pusher">
      <!-- Site Content !-->
      <div>
        <button class="ui blue button" id="sidebar_button">
          Menu
        </button>
      </div>
      <div class="standard-metrics-title-container" style="padding-top: 40px; padding-left: 25%; width: 75%" >
        <h1 class="ui header">Standard Metrics</h1>
      </div>
      <div class="standard-metrics-description-container" style="padding-top: 40px; padding-left: 25%; width: 75%" >
        <h3 class="ui header">Below are metrics that measure basic information about the repository that we sampled
          from. To see our graphs on how we tried to measure productivity, see Productivity Measurements.</h3>
      </div>
      <div class="container" style="padding-top: 40px; padding-left: 20%">
        <div id="standard_metrics_graph" style="width: 850px; height: 400px; padding-bottom: 75px"></div>
      </div>
    </div>

  <script>
    $('#sidebar_button').click(function () {
      $('.ui.sidebar').sidebar('toggle');
    })
  </script>
  <script>
    var standard_metrics_chart = echarts.init(document.getElementById('standard_metrics_graph'), 'white', {
      renderer: 'canvas'
    })

    $(
      function() {
        fetchGraphData(standard_metrics_chart, "http://127.0.0.1:5000/standardMetrics");
      }
    );

    function fetchGraphData(chart, link) {
      $.ajax({
        type: "GET",
        url: link,
        dataType: "json",
        success: function (result) {
          chart.setOption(result);
        }
      });
    }
  </script>


  </body>
</html>